@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  --clr-cyan: hsl(179, 62%, 43%);
  --clr-bright-yellow: hsl(71, 73%, 54%);
  --clr-light-gray: hsl(204, 43%, 93%);
  --clr-grayish-blue: hsl(218, 22%, 67%);
}
* {
  font-family: "Karla";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  
}

.attribution {
  font-size: 11px;
  text-align: center;
  > a {
    color: hsl(228, 45%, 44%);
  }
}
